annotated-types==0.7.0
asgiref==3.11.0
beautifulsoup4==4.14.2
casparser==0.8.1
casparser_isin==2025.3.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
curl_cffi==0.13.0
dj-database-url==3.0.1
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
frozendict==2.4.7
gunicorn==23.0.0
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
multitasking==0.0.12
narwhals==2.12.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pdfminer.six==20240706
peewee==3.18.3
platformdirs==4.5.0
plotly==6.5.0
protobuf==6.33.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyMuPDF==1.26.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pyxirr==0.10.8
RapidFuzz==3.14.3
requests==2.32.5
rich==13.9.4
sentry-sdk==2.49.0
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
websockets==15.0.1
whitenoise==6.11.0
yfinance==0.2.66
